*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 112%; }

  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}

header, .container, .title, .instructions, .controls, .lists, .store, footer {
  border: 1px solid red;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

header, section, footer {
  text-align: center;
}

.astore {
  text-align: center;
}

header {
  background-color: slategray;
}

h1 {
  font-size: 5rem;
}

#addStore {
  background-color: purple;
  border: none;
  border-radius: 2.5rem;
  color: white;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 3rem;
}

#storeText, #itemText {
  display: none;
  height: 5rem;
  width: 25rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
}

/*#itemText {
  display: inline-block;
}*/

h2 {
  font-size: 4rem;
}

section {
  background-color: lightgray;
}

.stores {
  min-height: 10rem;
}

.astore {
  margin-bottom: 3rem;
}

footer {
  background-color: darkgray;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  width: 20rem;
  margin: 0.3rem auto;
}

.item {
  border: 1px solid black;
  height: 1.8rem;
  padding: 0.3rem;
  border-radius: 0.9rem;
  color: black;
}

.item > p {
  margin: 0;
  display: inline;
  float: left;
  padding-left: 2rem;
}

.item > .fa-minus-square {
  display: inline;
  float: right;
  padding-right: 1rem;
}

.item > .fa-check-square {
  display: inline;
  float: left;
  padding-left: 1rem;
}

.uncheck {
  text-decoration: none;
  font-style: normal;
  background-color: none;
}

.check {
  text-decoration: line-through;
  font-style: italic;
  background-color: pink;
}

.contact p {
  font-size: 2.5rem;
}
