*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 112%; }

  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}

/*header, .container, .title, .instructions, .controls, .lists, .store, footer {
  border: 1px solid red;
}*/

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

header, section, footer {
  text-align: center;
}

.astore {
  text-align: center;
}

header {
  background-color: rgb(212,106,106);
}

h1 {
  font-family: 'Autour One', cursive;
  font-size: 5rem;
}

#addStore {
  background-color: rgb(128, 21, 21);
  border: none;
  border-radius: 2.5rem;
  color: white;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 3rem;
}

#inputBox {
  margin-bottom: 3rem;
  height: 5rem;
  width: 25rem;
  margin-right: 2rem;
  font-size: 3rem;
  text-align: center;
}

.fa-sign-in {
  /*display: none;*/
}

/*#itemText {
  display: inline-block;
}*/

h2 {
  font-family: 'Autour One', cursive;
  font-size: 4rem;
  margin: 2rem auto;
}

section {
  background-color: rgb(255,170,170);
}

.stores {
  min-height: 10rem;
}

.astore {
  margin-bottom: 3rem;
}

footer {
  background-color: rgb(212,106,106);
}

i {
  color: rgb( 85,  0,  0);
}

.fa-plus-circle {
  margin: -0.25rem 0 2rem 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  width: 30rem;
  margin: 0.3rem auto;
  text-align: center;
}

.item {
  border: 3px solid black;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 2rem;
  color: black;
}

.item > p {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  margin: 0;
  display: inline;
  float: left;
  padding: 0 1rem;
  width: 21.5rem;
  overflow: hidden;
}

.item > .fa-minus-square {
  display: inline;
  float: right;
  padding-right: 1rem;
}

.item > .fa-check-square {
  display: inline;
  float: left;
  padding-left: 1rem;
}

.check {
  font-style: italic;
  background-color: pink;
}

.check p {
  text-decoration: line-through;
}

.contact p {
  font-size: 2.5rem;
}
